html{
  width:100%;
  height:100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

body #screen{
  position: fixed;
  width: 100%;
  height:100%;
}

#canvas{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2147483647
}